@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  width: 100%;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}

.purple {
  color: rgb(100, 21, 255);
}

.btn {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 100%;
}

h1 {
  font-size: 48px;
}

/*

NAVIGATION

*/

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

.img__logo {
  width: 2.5rem;
  margin-right: 12px;
}

.nav__link--logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  transition: all 500ms ease;
}

.nav__link--logo:hover {
  color: rgb(100, 21, 255);
}

.nav__link--list {
}

.nav__link {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 1.5rem;
  transition: all;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(100, 21, 255);
}

.nav__link:nth-child(5) {
  margin-left: 3rem;
}

.nav__link--primary {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  transition: all 300ms;
}

.nav__link--primary:hover {
  background-color: rgb(52, 14, 128);
  color: white;
  text-decoration: none;
}

/*

HEADER

*/

header {
  height: calc(100vh - 100px);
}

.container {
  height: 100%;
  padding: 80px 0;
}

.header__description {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left--column {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.header__para {
  font-size: 18px;
  margin: 40px 0;
}

.header__inputs {
  margin-bottom: 64px;
  position: relative;
}

.header__input {
  width: 80%;
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
  transition: all 300ms ease;
  opacity: 0.9;
  font-weight: 500;
  font-size: 100%;
}

.header__input:hover {
  border: 2px solid gray;
}

.header__input:active {
  border: 2px solid red;
}

.btn__header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 10px 22% 8px 10px;
  border: none;
}

.customers {
  text-transform: uppercase;
  color: rgb(160, 174, 192);
  font-size: 12px;
  margin-bottom: 12px;
}

.customer__logos {
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  opacity: 0.5;
}

.header__right--column {
  width: 100%;
  max-width: 60%;
}

.header__img--wrapper {
  width: 100%;
  max-width: 800px;
}

.header__img {
  width: 100%;
}
